$footerBackgroundColor: #000 !default;
$footerContentColor: #fff !default;
$footerLinkColor: #000 !default;
$footerHoverColor: #000 !default;

$copyrightBackgroundColor: #000 !default;
$copyrightContentColor: #000 !default;
$copyrightLinkColor: #000 !default;
$copyrightHoverColor: #000 !default;
$copyrightSeparatorColor: #000 !default;

/* footer */
footer {
	background-color: $footerBackgroundColor;
	color: $footerContentColor;
	
	a {
		color: $footerLinkColor;
		&:hover { color: $footerHoverColor;}
	}
}


/* copyright */
.copyright { 
	background-color: $copyrightBackgroundColor;
	color: $copyrightContentColor;
	position: relative; 
	font-size: 14px; 
	cursor: default; 
	
	.sw {
		padding: 20px 0;
		@include display( flex );
		@include flex-flow( row wrap );
		@include justify-content( space-between );
		@include align-items( center );
	}
	
	a {
		color: $copyrightLinkColor;
		&:hover { color: $copyrightHoverColor; }
	}
	
	ul {
		position: relative; 
		z-index: 10; 
		display: inline-block;
		padding: 12px 0;
	}
	
	li {
	
		display: inline-block; 
		border-left: 1px solid $copyrightSeparatorColor;
		margin-right: -0.25em; 
		margin-left: 5px; 
		padding-left: 5px; 
		line-height: 1;
	
		&:first-child {
			margin-left:0; 
			padding:0; 
			border: none; 
		}
	
	}
	
}

#jac { 
	width: 186px; 
	height: 25px; 
	background-size: cover;
	img { width: 100%; }
}

@media screen and (max-width: 800px) {
	.copyright li { display: block; border: none; margin:0; padding:4px 0 !important; font-size: 14px;}
}

/* theme specific footer rules */
.footer-row {
	@include display( flex );
	padding: 40px 0;
	font-weight:300;
	font-size: 14px;
	line-height: 1.8;
	
	.social {
		margin: 10px 0 0;
		a:hover {
			background: $primaryColor;
		}
	}
	
	address {
		margin: 0 0 15px;
	}
}

.footer-logo {
	@include flex( 0 1 auto );
	@include align-self( center );
	padding-right: 20px;
	a {
		display: block;
		width:305px;
		max-width: 100%;
		margin: 0 auto 10px;
		padding: 0 0 20%;
	}
}

.footer-contact,
.footer-nav {
	@include flex( 0 0 auto );
	padding: 0 15px 20px;
}

.footer-info {
	@include flex( 0 3 auto );
	padding: 0 0 20px 20px;
}

@media screen and (max-width: 1100px) {
	.footer-row {
		@include flex-flow( row wrap );
		@include justify-content( space-around );
	}
	
	.footer-logo {
		@include flex( 0 0 100% );
	}
}

@media screen and (max-width: 600px) {
	.footer-contact,
	.footer-nav {
		text-align:center;
	}
	
	.footer-row .social {
		@include justify-content( center );
	}
	
	.footer-nav {
	
		width: 100%;
		
		a {
			display: block;
			font-size: 18px;
			padding: 8px;
			&:hover {
				color: #fff;
				background: $primaryColor;
			}
		}
		
	}
}

.copyright {
	font-weight:300;
	text-transform: uppercase;
}