.social {

	cursor: default;
	@include display( flex );

	a {
		@include t-fa-abs();		
		width: 38px; height: 38px;
		border-radius: 20px;
		border: 1px solid #fff;
		margin: 0 2px;
		color: #fff;
		&:before { 
			font-size: 24px;
		}
		&:hover {
			background: #fff;
			color: #000;
		}
	}
	
}

.social-fb:before { content: $fa-var-facebook; }
.social-tw:before { content: $fa-var-twitter; }
.social-in:before { content: $fa-var-linkedin; }
.social-ig:before { content: $fa-var-instagram; }
.social-gp:before { content: $fa-var-google-plus; }
.social-yt:before { content: $fa-var-youtube; }
.social-rss:before { content: $fa-var-rss; }