@import "bourbon";

@import "1.0-normalize";
@import "1.1-grid";
@import "1.4-fonts";
@import "4.2.6-social";
@import "4.2-utilities";
@import "4.2.2-forms";

/* variables */
$defaultFontStack: HelveticaNeue,helvetica,arial,sans-serif;
$headerColor: #cecece;
$bodyColor: #fff;

/* fonts */
@include declare-font-face('HelveticaNeue','helveticaneuelight','../fonts/helveticaneue/light/',300);
@include declare-font-face('HelveticaNeue','helveticaneueroman','../fonts/helveticaneue/roman/',400);
@include declare-font-face('HelveticaNeue','helveticaneuemedium','../fonts/helveticaneue/medium/',500);
@include declare-font-face('HelveticaNeue','helveticaneuebold','../fonts/helveticaneue/bold/',700);

/* hgroup */
.hgroup {
	margin: 0 0 20px;
}

.hgroup-title {
	margin:0;	
}

.hgroup-subtitle {
	display: block;
	font-size: 18px;
	font-weight:700;
}

p {
	font-weight:300;
}

/* body */
body { 
	font-family: $defaultFontStack; 
	line-height: 1.4; 
	overflow-x:hidden; 
	color: #000;
}

.page-wrapper { 
	margin: 0 auto; 
	position: relative; 
	width: 1400px;
	max-width: 100%; 
	overflow:hidden;
	z-index:11;
}

/* crazy sticky footer */
.page-wrapper {
	@include display( flex );
	min-height: 100vh;
	@include flex-flow( column nowrap );
}

.body {
	@include flex( 1 0 auto );
}


.sw { 
	width: 1400px;
	max-width: 95%;
	margin: 0 auto; 
	position: relative; 
	&.full { max-width: 100%;}
}

.hero-content-title:before {
	content:"";
	margin: -20px auto 20px;
	display: block;
	width: 120px;
	height: 120px;
	background: center no-repeat;
	background-size: contain;	
}

/* page backgrounds */
.selector-bg {

	$selectorBackgroundColor: #203658;

	.hero {
		&:before { 
			position: fixed;
			@include linear-gradient( to bottom, $selectorBackgroundColor, lighten($selectorBackgroundColor,5)); 
		}
	}

	.hero-content-title:before { display: none; }

	.footer-parallax {
		background: transparent;
	}

	footer {
		background: #071830;
	}

	header .social {
		a:hover { 
			background: #fff;
			color: $selectorBackgroundColor;
		}
	}

	footer .social {
		a:hover {
			background: #fff;
			color: #071830;
		}
	}	

}


.peaks-bg {
	$peaksBackgroundColor: #203658;
	.body { background: $peaksBackgroundColor; }

	.hero {
		&:before { @include linear-gradient( to bottom, $peaksBackgroundColor, lighten($peaksBackgroundColor,80)); }
	}

	.hero-content-title:before { background-image: url(../images/peaks.png); }

	header .social {
		a:hover { 
			background: #fff;
			color: $peaksBackgroundColor;
		}
	}

	footer .social {
		a:hover {
			background: #fff;
			color: #071830;
		}
	}

	.footer-parallax,
	footer {
		background: #071830;
	}	

	.footer-form-title { color: #203658; }
}

.parks-bg {
	$parksBackgroundColor: #132818;
	.body { background: $parksBackgroundColor; }

	.hero {
		&:before { @include linear-gradient( to bottom, $parksBackgroundColor, lighten($parksBackgroundColor,80)); }
	}

	.hero-content-title:before { background-image: url(../images/parks.png); }

	.footer-parallax,
	footer {
		background: #102516;
	}

	header .social {
		a:hover { 
			background: #fff;
			color: $parksBackgroundColor;
		}
	}

	footer .social {
		a:hover {
			background: #fff;
			color: #102516;
		}
	}	

	
	.footer-form { color: #fff; }
}

.pavement-bg {
	$pavementBackgroundColor: #FB7F57;

	.body { background: #2c122a; }

	.footer-parallax,
	footer { background: #260f24; }


	.hero {
		&:before { @include linear-gradient( to bottom, $pavementBackgroundColor, lighten($pavementBackgroundColor,80)); }
		p { color: #fff; }
	}

	.hero-content-title:before { background-image: url(../images/pavement.png); }

	.hero-content {
		text-shadow: 0 0 0 #000;
	}

	header .social {
		a:hover { 
			background: #fff;
			color: $pavementBackgroundColor;
		}
	}

	footer .social {
		a:hover {
			background: #fff;
			color: #260f24;
		}
	}	

	.hero-content-title { color: #C52E43;}
	.footer-form { color: #fff; }
}

/* header */
header {
	position: absolute;
	top:0; left:0; right:0;
	z-index: 20;

	.social {
		position: absolute;
		top:10px; right:0;
	}
}

.header-logo {
	display: block;
	width: 92px;
	margin-top: -3px;
	img { width: 100%;}
}

/* footer */

/* copyright */
.copyright { 
	color: #fff;
	position: relative; 
	font-size: 14px; 
	cursor: default; 
	
	.sw {
		padding: 20px 0;
		@include display( flex );
		@include flex-flow( row wrap );
		@include justify-content( space-between );
		@include align-items( center );
	}
	
	a {
		color: #fff;
		&:hover { color: #fff; }
	}
	
	ul {
		position: relative; 
		z-index: 10; 
		display: inline-block;
		padding: 12px 0;
	}
	
	li {
	
		display: inline-block; 
		border-left: 1px solid #fff;
		margin-right: -0.25em; 
		margin-left: 5px; 
		padding-left: 5px; 
		line-height: 1;
	
		&:first-child {
			margin-left:0; 
			padding:0; 
			border: none; 
		}
	
	}

	@media screen and (max-width: 820px) {
		.sw {
			display: block;
		}
	
		ul,li {
			text-align:center;
			display: block;
		}

		li {
			margin: 10px 0;
			border: none;
			padding:0;
		}

		.social {
			@include justify-content( center );
		}

	}	
	
}

/* hero */
.hero {
	@include display( flex );
	@include flex-flow( column nowrap );
	height: 100vh;
	min-height: 400px;
	max-height: 800px;
	position: relative;

	&:before {
		content:"";
		position: fixed;
		top:0; left:0; right:0; bottom:0;
		height: 100vh;
		z-index: -3;
	}	
}

.hero-content {
	margin: 0 auto;
	padding-top: 150px;
	width: 650px;
	max-width: 90%;
	text-align:center;
	color: $headerColor;
	text-shadow: 0 0 12px rgba(0,0,0,0.7);	

	p {
		font-weight: 300;
		font-size: 18px;
		line-height: 1.6;
	}
}

.hero-content-title {
	font-size: 34px;
	text-transform: uppercase;
	margin: 0 0 20px;

	@media screen and (max-width: 650px) {
		font-size: 24px;
	}	
}

.hero-parallax {
	position: absolute;
	top:10%; left:0; right:0;
	height: 100%;
	z-index: -1;
}

.footer-parallax {
	position: relative;
	z-index: 10;
	height: 100px;

	.parallax-layer {
		top: auto; bottom:0;
		height: 300px;
	}
}

.parallax-layer {
	position: absolute;
	top:0; left:0; right:0; bottom:0;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center bottom;
}

.parallax-one { bottom: 0vh;    z-index: 100000; }
.parallax-two { bottom: 0vh;    z-index: 10000; }
.parallax-three { bottom: 0vh;  z-index: 1000; }
.parallax-four { bottom: 2vh;   z-index: 100; }
.parallax-five { bottom: 4vh;  z-index: 10; }

.body {
	padding: 40px 0;
}

/* buttons */
.button {
	border: none;
	border-radius: 4px;
	background: #C71444;
	color: #fff;
	text-transform: uppercase;
	display: inline-block;
	font-size: 18px;
	font-family: $defaultFontStack;
	padding: 10px 20px;
}

.content-boxes {
	margin: 0 -30px;
	padding: 80px 0;

	@include display( flex );
	@include align-items( flex-start );
	@include justify-content( space-between );

	.img-box {
		@include flex( 0 1 auto );
		@include align-self( center );
		margin: 10px 30px;
	}

	@media screen and (max-width: 820px) {
		display: block;
	}
}

.content-box {
	@include flex( 0 1 490px );
	padding: 30px;
	background: rgba(255,255,255,0.1);
	margin: 10px 30px;

	.hgroup { color: $headerColor; }
	.hgroup-title {
		font-size: 26px;
		text-transform: uppercase;
	}

	p {
		color: $bodyColor;
		font-size: 18px;
		line-height: 1.6;
	}

	&.with-img-block {
		margin-bottom: 200px;
		padding-bottom: 150px;
		position: relative;
	}

	.img-block {
		position: absolute;
		bottom: -200px; left:0; right:0;
		height: 380px;

		img { display: none; }
	}
}

/* contact form */
.footer-form {
	padding: 60px 0;
	max-width: 460px;
	position: relative;
	z-index: 20;

	p {
		margin: 15px 0;
		font-size: 18px;
	}

	input {
		background: rgba(255,255,255,0.8) !important;
		box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	}

	@media screen and (max-width: 820px) {
		max-width:none;
	}
}

.footer-form-title {
	font-weight: 400;
	text-transform: uppercase;
	font-size: 42px;
	line-height: 1.2;
}

/* banner */
.banner {
	background: #C71444;
	padding: 40px 0;
	color: #fff;

	.sw {
		@include display( flex );
		@include justify-content( space-between );
		@include align-items( center );
	}
}

.banner-box {
	@include flex( 0 1 40% );
	@include display( flex );
	@include align-items( center );	
	max-width: 500px;
	text-transform: uppercase;	
}

.banner-meta {
	@include flex( 0 0 auto );
	position: relative;
	margin-left: 20px;
}

.banner-text {
	font-weight:700;
	font-size: 32px;
}

.banner-text-price {
	display: block;
	font-weight:700;
	font-size: 100px;
	line-height:1;
}

.banner-text-interval {
	text-align:center;
	font-weight:700;
	font-size: 28px;
	display: block;
}

.banner-text-rate {
	display: block;
	font-weight: 700;
	font-size: 100px;

	sup {
		font-size: 50px;
	}
}

.banner-text-apr {
	position: absolute;
	bottom:20px; left: 60px; width: 120px;
	text-align:left;
	font-size: 14px;
}

@media screen and (max-width: 960px) {
	.banner {
		.sw {
			display: block;
		}
	}

	.banner-box {
		display: block;
		max-width: none;
		text-align:center;
		& + & { margin-top: 30px;}
	}

	.banner-meta { 
		display: inline-block; 
		margin:0;
	}
}

/* selector */
.home-hero-buttons {
	margin: 20px auto;
	width: 600px;
	position: relative;
	z-index: 30;
	max-width: 90%;
	@include display( flex );
	@include justify-content( space-around );
	justify-content: space-around;

	a {
		display: block;
		width: 140px;
		max-width: 25%;
	}

	img {
		width: 100%;
	}
}
